@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo/Arvo-Regular.ttf") format("truetype");
  font-weight: 100 500;
  font-style: normal;
}

@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo/Arvo-Bold.ttf") format("truetype");
  font-weight: 600 900;
  font-style: normal;
}

@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo/Arvo-Italic.ttf") format("truetype");
  font-weight: 100 500;
  font-style: italic;
}

@font-face {
  font-family: "Arvo";
  src: url("../fonts/Arvo/Arvo-BoldItalic.ttf") format("truetype");
  font-weight: 600 900;
  font-style: italic;
}
@font-face {
  font-family: "Baloo Chettan 2";
  src: url("../fonts/Baloo_Chettan_2/BalooChettan2-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Dosis";
  src: url("../fonts/Dosis/Dosis-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Nanum Pen Script";
  src: url("../fonts/Nanum_Pen_Script/NanumPenScript-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/Noto_Serif/NotoSerif-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Noto Serif";
  src: url("../fonts/Noto_Serif/NotoSerif-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: url("../fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

@font-face {
  font-family: "Paprika";
  src: url("../fonts/Paprika/Paprika-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraLightItalic.ttf") format("truetype");
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Thin.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ThinItalic.ttf") format("truetype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Italic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-SemiBoldItalic.ttf") format("truetype");
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BoldItalic.ttf") format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-ExtraBoldItalic.ttf") format("truetype");
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins/Poppins-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani/Rajdhani-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani/Rajdhani-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani/Rajdhani-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani/Rajdhani-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Rajdhani";
  src: url("../fonts/Rajdhani/Rajdhani-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/RobotoMono-Italic-VariableFont_wght.html") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway/Raleway-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/RobotoMono-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}
@font-face {
  font-family: "Roboto Mono";
  src: url("../fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 700;
  font-style: normal;
}

@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/Source_Code_Pro/SourceCodePro-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: italic;
}
@font-face {
  font-family: "Source Code Pro";
  src: url("../fonts/Source_Code_Pro/SourceCodePro-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Lexend";
  src: url("../fonts/Lexend/Lexend-VariableFont-wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Satoshi Variable";
  src: url("../fonts/Satoshi/Satoshi-Variable.ttf");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: normal;
}
@font-face {
  font-family: "Satoshi Variable";
  src: url("../fonts/Satoshi/Satoshi-VariableItalic.ttf");
  font-weight: 100 200 300 400 500 600 700 800 900;
  font-style: italic;
}
